<div class="search-container">
  <form action="/action_page.php">
    <input type="text" [(ngModel)]="ID" (input)="Search()" placeholder="Insert id you want to track.." name="search">

  </form>
</div>

<div class="table-responsive-xl">
  <table class="table table-striped table-hover ">
    <thead>
      <tr>
        <th >ID</th>
        <th >Time</th>
        <th >Health Status</th>
        <th >Fullness</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor='let o of information'>
        <td >{{o.ID}}</td>
        <td>{{o.Time}}</td>      
        <td>{{o.HealthStatus}}</td>
        <td>{{o.Fullness}}</td>
      </tr>
    </tbody>
  </table>
</div>