<div class="search-container">
  <form action="/action_page.php">
    <input type="text" [(ngModel)]="ID" id="sb" (input)="Search()" placeholder="Insert ID:" name="search"  (ngModelChange)="Search()">

  </form>
</div>

<div class="ex">
  <table class="table table-striped table-hover ">
    <thead>
      <tr>
        <th >ID</th>
        <th>Date&Time</th>
        <th >Health Status</th>
       <th> Fullness</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor='let arrival of arrivals.reverse()'>
        <td>{{arrival.ID}}</td>
        <td>{{arrival.DateTime}}</td>
        <td>{{arrival.HealthStatus}}</td>
      <td>{{arrival.Fullness}}</td>
      </tr>
    </tbody>
  </table>
</div>