/* Add a black background color to the top navigation bar */



  table th{
    background: #1c2024ef;
    color: white;
    font-size: 1.2rem;    
  }
  .search-container{
    margin-bottom: 15px;
    margin-top:15px;
  }
  table{
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 5px;
    width: 100%;
    margin: 0px auto;
    float: none;
  }
  table tbody tr:hover {
    background-color:#13326b;
    color:#ffffff;
    text-shadow: 0.2px 0.2px #ffffff;
    box-shadow: 0px 0px 5px #ff0000;
    font-weight: bolder;
   
 }
  td{
   color: white;
   background: #343a40bd;
   font-weight: bold;
 }
