
.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    height: 9%;
    width: 100%;
   background-color: #1F2F37;
    opacity: 0.9;
    color: white;
    text-align: center;
    font-family: 'Lucida Sans';
    
  }

body{
  background-image: url('/home/ucenik/EditFrontend/edit19/src/app/kont.jpg');
}

#contact{
  
  font-size: 12px;
}

